html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

textarea,input {
  background-color: white;
  border: 1px solid;
}

label {
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}
